<div  align='center'><img src='https://s3.amazonaws.com/weclouddata/images/logos/wcd_logo_new_2.png' width='25%'></div >

<h1 align="center"> Pandas Advanced Excerise </h1>
<h2 align="center"> (Exercise Version) </h2></font></b></p>

<br>
<center align="center"> Designed by: </center>
<center align="center"> WeCloudData Academy </center>

# Telecom Dataset:

> Dataset can be downloaded from here:
- https://s3.amazonaws.com/weclouddata/datasets/genai/ml_fundamentals/telecom.csv

In [ ]:
# Download and explore the dataset in pandas

### 1. Create a pivot table for the follwing:
>    - The average `MonthlyCharges` per `InternetService` for males and females.
>    - The maximum `MonthlyCharges` per `Contract` for Seniors / Non-seniors.
>    - The sum of the `MonthlyCharges` per `PaymentMethod` for Churn / Non-churn customers
>    - Also, try using the tradtional group by aggregations combined with the unstack() method to create the above tables.

In [ ]:
# Your code below

### 2. Create a column named `InternetService Average`:
>    - For each customer, this value will be the overall average monthly charge for their respective internet service. (Overall average DSL monthly charge, Overall average Fibre Optic monthly charge, ...)
>    - Create a new column containing the ratio between the customers `MonthlyCharges` and the `InternetService Average`

In [ ]:
# Your code below



---

# Employee Dataset:

Datasets can be downloaded here:

- https://s3.amazonaws.com/weclouddata/datasets/genai/ml_fundamentals/employee_departments.csv
- https://s3.amazonaws.com/weclouddata/datasets/genai/ml_fundamentals/employee_dept_emp.csv
- https://s3.amazonaws.com/weclouddata/datasets/genai/ml_fundamentals/employee_dept_manager.csv
- https://s3.amazonaws.com/weclouddata/datasets/genai/ml_fundamentals/employee_employees.csv
- https://s3.amazonaws.com/weclouddata/datasets/genai/ml_fundamentals/employee_salaries.csv
- https://s3.amazonaws.com/weclouddata/datasets/genai/ml_fundamentals/employee_titles.csv

You can either use !wget to download the csv files first or load the data directyl from Pandas read_csv

### Load in the multiple tables attached

In [ ]:
# Your code below

### 1. Explore each table, merge the tables together with the `employees` table

In [ ]:
# Your code below

### 2. How many employees have worked in multiple departments within the dataset?

In [ ]:
# Your code below

### 3. How many employees have worked under multiple titles (Changed positions)?
>    - Calculate their average salary (Use apply/transform/filter)
>    - Calculate the average time length for each job title.

In [ ]:
# Your code below

### 4. For dates displayed as `9999-01-01` , map them to `2021-01-01`.
>    - Convert the `hire_date`, `to_date`, `from_date` columns to datetime as well.

In [ ]:
# Your code below

### 5. Create a new column `age`, extract the age of all the employees from the dataset by using `2021-01-01` as the reference date.

In [ ]:
# Your code below

### 6. Create a new column `normalized_salary`:
>    - This column will return the following for each employee: `employees salary - average salary / standard deviation`

### 7. Create a dataframe `summary_salary` containing the following elements:
>    - Find the MIN/MAX/MEAN salary for each job title
>    - Find the MIN/MAX/MEAN age for each job title

In [ ]:
# Your code below

### 8. Filter the dataframe for employees that have a salary greater than the average salary from their respective title.
>    - Some employees may have taken several positions, look at the employees most recent title for this calculation.

In [ ]:
# Your code below

### 9. Create a column `average_salary_ratio`.
>    - Store the ratio between the employees salary and the average salary of their respective title.

In [ ]:
# Your code below

### 10. Calculate the average salary for each job title, after filtering out employees who held a job title for more than 10 years.

In [ ]:
# Your code below

### 11. Return the job titles where the average salary of females were higher than males.

### 12. Create a Pivot table to show the average salary per role for each department
>    - Create a pivot table to show the gender distribution for each department.
>    - Create a pivot table to show the gender distribution for each job title.